@model Usuario

<h3> ¡Al ataque, @Model.Nombre!</h3>

<div class="card">
    <div class="card-body">
       Estadísticas
    </div>
</div>
<button>    <a asp-action="Index" asp-controller="Tags">Tags</a></button>
<div class="card">
    <div class="card-body">
        <button>Entrenamientos</button>
        <button> <a asp-controller="Ejercicios" asp-action="Index">Ejercicios</a></button>
    </div>
</div>


<button><a asp-controller="Entrenamientos" asp-action="Create">Nuevo entrenamiento</a></button>
