<h1>Triste h1</h1>
<h3 style="color:indianred">@ViewData["MENSAJE"]</h3>
<form method="post">
    <label>Email</label>
    <input type="text" name="email" />
    <label>Contraseña</label>
    <input type="password" name="password" />
    <button class="btn btn-outline-info">Log In</button> 
</form>