<h1>Triste H1 Register</h1>

<form method="post">
    <label>Email</label>
    <input type="email" name="email"/>
    <label>Nombre</label>
    <input type="text" name="name" />
    <label>Contraseña</label>
    <input type="password" name="password" />
    <button class="btn btn-outline-info">Register</button>
</form>