<h4>Nuevo entrenamiento</h4>

<form method="post">
    ¿Hoy que toca?
    <select>
        <option>Nuevo Tag</option>
        //Aquí iría tags
    </select>
    <br />
    Ejercicios
    <br />
    
    
    <button>Enviar</button>
</form>